---
import { filterMainCategories } from '@@sf/composables/use-shop-header';
import useSharedData from '@@sf/composables/use-shared-data';
import Picture from '@@sf/components/Picture.astro';
import ShopFooter, {
  type Props as ShopFooterProps,
} from '~/components/ShopFooter.vue';

export interface Props {
  logoHeading?: string;
}

const { routeContext } = Astro.locals;
const { settings, getContent } = routeContext;
const LogoHeading = Astro.props.logoHeading || 'h4';
const layoutContent = await getContent('layout');
const {
  footer: {
    stamps,
    categoriesList,
    pagesList,
  },
} = layoutContent;
let mainCategories: ShopFooterProps['categories'];
let pageLinks: ShopFooterProps['pageLinks'];
if (categoriesList?.isActive) {
  if (categoriesList.categories?.length) {
    mainCategories = categoriesList.categories;
  } else {
    // Will wait and reuse categories loaded from <PageHeader>
    const { value: categories } = await useSharedData({ field: 'categories' });
    if (categories) {
      mainCategories = filterMainCategories(categories);
    }
  }
}
if (pagesList?.isActive) {
  if (pagesList.links?.length) {
    pageLinks = pagesList.links;
  } else {
    pageLinks = [];
    const pageSlugs = await getContent('extra-pages/');
    for (let i = 0; i < pageSlugs.length; i++) {
      const { title } = await getContent(`extra-pages/${pageSlugs[i]}`) || {};
      if (title) {
        pageLinks.push({ title, href: `/p/${pageSlugs[i]}` });
      }
    }
    if ((await getContent('blog/')).length) {
      pageLinks.push({ title: 'Blog', href: '/blog/1/' });
    }
  }
}
---

<ShopFooter
  {stamps}
  categories={mainCategories}
  categoriesColTitle={categoriesList?.title}
  {pageLinks}
  pagesColTitle={pagesList?.title}
>
  <Fragment slot="logo">
    <a href="/">
      <LogoHeading>
        <Picture
          src={settings.logo}
          alt={settings.name}
          widths={[300]}
          loading="lazy"
          class="max-w-[150px]"
        />
      </LogoHeading>
    </a>
  </Fragment>
</ShopFooter>
